<p>
  Name:
  <%= full_name(@user) %>
</p>

<p>
  Email:
  <%= @user_decorator.shown_email %>
</p>

<p>
  Birthday:
  <%= @user_decorator.shown_birthday %>
</p>

<p>
  Followers:
  <ul>
    <% @user_decorator.followers.each do |follower| %>
      <li><%= link_to full_name(follower), follower %></li>
    <% end %>
  </ul>
</p>

<p>
  Following:
  <ul>
    <% @user_decorator.following.each do |followed| %>
      <li><%= link_to full_name(followed), followed %></li>
    <% end %>
  </ul>
</p>

<p>
  Posts
  <dl>
    <% @user_decorator.posts.each do |post| %>
      <dt>Description:</dt>
      <dd><%= post.description %></dd>
      <dt>Likes:</dt>
      <dd><%= post.likes.count%></dd>
    <% end %>
  </dl>
</p>
